body {
    font-family:sans-serif;
    font-size: 1.0em;
}

form {
    margin: 0;
}

button, 
label, 
input, 
select, 
textarea, 
a  {
    padding: 0 0.2em 0.2em 0;
    font-size: 1.0em;
    display: block;
}

button, 
label, 
input, 
select, 
textarea {
    color:black;
}

input, 
select, 
textarea {
    margin: 0 0.5em 0.5em 0;
}

table td,
th {
  border: .1em solid black;
}

a {
    color: blue;
    cursor: pointer;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .5em .5em;
    transition: 0.3s;
    font-size: 1.2em;
}

/* Change background color of buttons on hover */
.tab button:hover,
.tab button:focus {
    background-color: #ddd;
    text-decoration: underline;
}

.tab button.active {
    background-color: #ccc;
    font-weight: bold;
}

.tab .install-app {
    background-color: #0cc;
}
.tab .install-app:active,
.tab .install-app:hover{
    background-color: #0dd;
}

.skill_title{
    font-size: 1.2em;
}
 

/* Style the tab content */
.tabcontent {
    padding: .5em .5em;
    border: 1px solid #ccc;
    border-top: none;
}

.attribute_grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.skills_grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
input.short {
    width: 3em;
}
input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

/* Default navigation set up */
#nav {
    display: block;
}

#mobile-nav {
    display: none;
}

/* Mobile */
@media screen and (max-width:550px) {
    #nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }
}

@media screen and (min-width:550px) {
    #nav {
        display: block;
    }

    #mobile-nav,
    #mobile-nav-menu {
        display: none;
    }
}

@media screen and (min-width:1000px) {
    /*It would be nice if we have the space to put the inputs in 2 columns on
     * the screen*/
}

.hidden{
    display: none; !important
}

.overlay{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.base {
    background: white;
    margin: 20px;
    padding: 20px;
    border: thin;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.base h2 {
    margin: 0;
}

.description {
    margin: 10px 0;
}
