<wizard>
    <title>Create a new character</title>
    <description>Build your character.</description>
    <template>
       <form class="wizardScreen" id="createCharacter.player">
           <label for="createCharacter.player.name">Role Player</label>
           <input type="text" id="createCharacter.player.name" name="player.name" required/>

           <label for="createCharacter.player.phone">Phone Number</label>
           <input type="tel" id="createCharacter.player.phone" name="player.phone" autocomplete="tel"/>

           <label for="createCharacter.player.email">Email</label>
           <input type="email" id="createCharacter.player.email" name="player.email" autocomplete="email"/> 
       </form>
       
       <form class="wizardScreen">
           <label for="createCharacter.character.race">Race</label>
           <select id="createCharacter.character.race" name="character.race" data-lookup="RACES"></select>
           
           <label for="createCharacter.character.pronoun">Pronoun</label>
           <select id="createCharacter.character.pronoun" name="character.pronoun" data-lookup="PRONOUNS"></select>
           
           <label for="createCharacter.character.alignment.society">Alignment (Attitude toward Society)</label>
           <select id="createCharacter.character.alignment.society" name="character.alignment.society" data-rng="true">
               <option value="Lawful">Lawful</option>
               <option value="Neutral">Neutral</option>
               <option value="Chaotic">Chaotic</option>
           </select>
           <label for="createCharacter.character.alignment.morality">Alignment (Morality)</label>
           <select id="createCharacter.character.alignment.morality" name="character.alignment.morality" data-rng="true">
               <option value="Good">Good</option>
               <option value="Neutral">Neutral</option>
               <option value="Evil">Evil</option>
           </select>  
       </form>
           
       <form class="wizardScreen" id="createCharacter.name">
           <label for="createCharacter.character.name.first">First Name</label>
           <input type="text" id="createCharacter.character.name.first" name="character.name.first" required/>
           <label for="createCharacter.character.name.family">Family Name</label>
           <input type="text" id="createCharacter.character.name.family" name="character.name.family"/>
           <label for="createCharacter.character.name.nickname">Nickname</label>
           <input type="text" id="createCharacter.character.name.nickname" name="character.name.nickname"/>
           <label for="createCharacter.character.name.child">Child Name</label>
           <input type="text" id="createCharacter.character.name.child" name="character.name.child"/>
       </form>

       <form class="wizardScreen" id="createCharacter.class">
           <div class="toThaLeft">
               <label for="createCharacter.character.class.type">Class</label>
               <select id="createCharacter.character.class.type" data-lookup="CLASSES"></select>

               <label for="createCharacter.character.level">Level</label>
               <input type="number" id="createCharacter.character.level" pattern="[0-9]*" class="short" min="1" max="40" required value="1"/>
           
               <button type="button" class="hidden multiclass" onClick="addClass()">Add Class</button>
               <button type="button" id="multiClassEnable" onClick="toggleMultiClass()">Enable Multiclass</button>
           </div>
           <div class="toThaLeft multiclass hidden">
               <table>
                   <caption>Classes choosen</caption>
                   <thead>
                       <tr>
                           <th>Class</th>
                           <th>Level</th>
                           <th>Remove</th>
                       </tr>
                   </thead>
                   <tbody id="createCharacter.character.class.tbody">
                   </tbody> 
               </table>
           </div>
       </form>
       
       <form class="wizardScreen" id="createCharacter.attr">
           <!-- generation options and execution -->
           <label for="createCharacter.attr.chooser">How do you want your attributes set?</label>
           <select id="createCharacter.attr.chooser">
               <option value="Throwaway">Throwaway lowest of 4</option>
               <option value="Straight">Straight 3 rolls</option>
               <option value="Manual">I'll roll and enter the vaules</option>
           </select>
           <button type="button" onclick="generateAttributes()">Generate Attributes</button>

           <div class="column-2">
               <label for="createCharacter.character.attribute.strength">Strength</label>
               <input type="number"  pattern="[0-9]*" name="character.attribute.strength" id="createCharacter.character.attribute.strength" class="short"  min="3" max="20" required/>
               <label for="createCharacter.character.attribute.dexterity">Dexterity</label>
               <input type="number"  pattern="[0-9]*" name="character.attribute.dexterity" id="createCharacter.character.attribute.dexterity" class="short"  min="3" max="20" required/>
               <label for="createCharacter.character.attribute.constitution">Constitution</label>
               <input type="number"  pattern="[0-9]*" name="character.attribute.constitution" id="createCharacter.character.attribute.constitution" class="short"  min="3" max="20" required/>
               <label for="createCharacter.character.attribute.intelligence">Intelligence</label>
               <input type="number"  pattern="[0-9]*" name="character.attribute.intelligence" id="createCharacter.character.attribute.intelligence" class="short"  min="3" max="20" required/>
               <label for="createCharacter.character.attribute.wisdom">Wisdom</label>
               <input type="number"  pattern="[0-9]*" name="character.attribute.wisdom" id="createCharacter.character.attribute.wisdom" class="short"  min="3" max="20" required/>
               <label for="createCharacter.character.attribute.charisma">Charisma</label>
               <input type="number"  pattern="[0-9]*" name="character.attribute.charisma" id="createCharacter.character.attribute.charisma" class="short"  min="3" max="20" required/>
           </div>
       </form>
       
       <form class="wizardScreen">
           <label for="createCharacter.backstory.type">Backstory Type</label>
           <select id="createCharacter.backstory.type" name="character.backstory.type"  data-lookup="BACKSTORIES"></select>

           <label for="createCharacter.backstory.story">Backstory</label>
           <textarea id="createCharacter.backstory.story" name="character.backstory.story" spellcheck="true"></textarea> 
       </form>

       <form class="wizardScreen" id="createCharacter.age">
           <label for="createCharacter.details.age">Age (in years)</label>
           <input type="number" pattern="[0-9]*" id="createCharacter.details.age" class="short" name="character.details.age" min="0"max="100"/>

           <label for="createCharacter.details.height">Height (in inches)</label>
           <input type="text" id="createCharacter.details.height" name="character.details.height"/>

           <label for="createCharacter.details.weight">Weight (in pounds)</label>
           <input type="text" id="createCharacter.details.weight" name="character.details.weight"/>
       </form>
       
       <form class="wizardScreen">
           <label for="createCharacter.details.eyecolor">Eye Color</label>
           <select class="tagAlong"  id="createCharacter.details.eyecolor" name="character.details.eyecolor" data-type="color" data-lookup="EYE_COLOR" data-sort="false" onchange="changeColor(event);"></select>
           <div id="createCharacter.details.eyecolor.color" class="swatch"></div>

           <label for="createCharacter.details.skin">Skin Color</label>
           <select class="tagAlong"  data-type="color" id="createCharacter.details.skin" name="character.details.skin" data-lookup="SKIN_COLOR" data-sort="false" onchange="changeColor(event);"></select>
           <div id="createCharacter.details.skin.color" class="swatch"></div>

           <label for="createCharacter.details.hair">Hair Color</label>
           <select class="tagAlong" data-type="color" id="createCharacter.details.hair" name="character.details.hair" data-lookup="HAIR_COLOR" data-sort="false" onchange="changeColor(event);"></select>
           <div id="createCharacter.details.hair.color" class="swatch"></div>
       </form>
       
       <form class="wizardScreen">
           <label for="createCharacter.details.appearance">Appearance</label>
           <textarea id="createCharacter.details.appearance" spellcheck="true" name="character.details.appearance"></textarea> 
           
           <label for="createCharacter.details.image">Image</label>
           <input type="image" id="createCharacter.details.image" name="character.details.image"/> 
       </form>

       <form class="wizardScreen" id="createCharacter.skills">
           <fieldset>
               <legend>Skills <span class="parens">choose <span id="createCharacter.skills.legend" data-rulemax="0"></span> more</span></legend>
               <div name="character.skills" data-lookup="SKILLS"></div>
           </fieldset>
       </form>
       
       <form class="wizardScreen" id="createCharacter.language">
           <fieldset>
               <legend>Languages <span class="parens">choose <span id="createCharacter.languages.legend" data-rulemax="0"></span> more</span></legend>
               <div name="character.languages" data-lookup="LANGUAGES"></div>
           </fieldset>
       </form>
       
       <form class="wizardScreen">
           <!-- need to sure up the proficiencies editor: choose from list of
               Proficiencies with free entry and stash.-->
           <label for="createCharacter.proficiency">Proficiencies</label>
           <textarea id="createCharacter.proficiency" name="character.proficiency" spellcheck="true"></textarea>
           
           <label for="createCharacter.personalitytraits">Personality Traits</label>
           <textarea id="createCharacter.personalitytraits" name="character.personalitytraits" spellcheck="true"></textarea>
       </form>
       
       <form class="wizardScreen column-2">
           
           <label for="createCharacter.ideals">Ideals</label>
           <textarea id="createCharacter.ideals" name="character.ideals" spellcheck="true"></textarea>
           
           <label for="createCharacter.bonds">Bonds</label>
           <textarea id="createCharacter.bonds" name="character.bonds" spellcheck="true"></textarea>
           
           <label for="createCharacter.flaws">Flaws</label>
           <textarea id="createCharacter.flaws" name="character.flaws" spellcheck="true"></textarea>
           
           <label for="createCharacter.allies">Allies</label>
           <textarea id="createCharacter.allies" name="character.allies" spellcheck="true"></textarea>
       </form>
       

       <form class="wizardScreen">
           <label for="createCharacter.weapons">Weapons</label>
           <textarea id="createCharacter.weapons" name="character.weapons" spellcheck="true"></textarea>
           
           <label for="createCharacter.equipment">Equipment</label>
           <textarea id="createCharacter.equipment" name="character.equipment" spellcheck="true"></textarea>
           
           <label for="createCharacter.treasure">Treasure</label>
           <textarea id="createCharacter.treasure" name="character.treasure" spellcheck="true"></textarea>
       </form>
     
       <!-- Circles which indicates the steps of the form: -->
       <div class="step_wrapper">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
       </div>
     
       <div class="buttonbar">
           <button type="button" onclick="cancelModal()">Cancel</button>
           <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
           <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
       </div>
    </template>
</wizard>
