<template>
    <label for="purse.pp" name="purse.pp">Purse (PP)</label>
    <input type="number" name="purse.pp" pattern="[0-9]*" id="purse.pp" class="short"
                                                                   min="0" />
    <label for="purse.gp" name="purse.gp">Purse (GP)</label>
    <input type="number" name="purse.gp" pattern="[0-9]*" id="purse.gp" class="short"
                                                       min="0" />
    
    <label for="purse.ep" name="purse.ep">Purse (EP)</label>
    <input type="number" name="purse.ep" pattern="[0-9]*" id="purse.ep" class="short"
                                                       min="0" />
    <label for="purse.sp" name="purse.sp">Purse (SP)</label>
    <input type="number" name="purse.sp" pattern="[0-9]*" id="purse.sp" class="short"
                                                       min="0" />
    
    <label for="purse.cp" name="purse.cp">Purse (CP)</label>
    <input type="number" name="purse.cp" pattern="[0-9]*" id="purse.cp" class="short"
                                                       min="0" />
    <label for="purse.description" name="purse.description">Purchase Description</label>
    <textarea id="purse.description" name="purse.description" spellcheck="true"></textarea>
    <button onclick="usePurse('-')">Spend</button>
    <button onclick="usePurse('+')">Gain</button> 
</template>
